
<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
   <div id="header" class="row"> 
       <div class="container">
        <div class="four columns">
            <h3>{{ page.title }}</h3>
        </div>

        <div id="nav" class="eight columns u-pull-right" align="right">
             <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/assets/ZTerechshenko_cv.pdf">CV</a></li>
                <li><a href="/Blog.md">Blog</a></li>
                <li><a href="/Contact.md">Contact Me</a></li>
            </ul>
        </div>
       </div>
    </div>


    <div class="container">


           {{ content }}


    </div>

    
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</body>
</html>